<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS with Axios for REST APIs</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
            <tr v-for="user in users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }} </td>
                <td>{{ user.lastname }} </td>
                <td>{{ user.email }}</td>
                <td><img v-bind:src="user.avatar"></td>
                <td>
                    <button @click="getEditUser(user)">Edit</button>
                    <button @click="deleteUser(user)">Delete</button>
                </td>
            </tr>
        </table>
        <button @click="getUsers">Get Users</button>

        <br><br>

        <form @submit.prevent="">
            <h3>Form User</h3>
            <label>Username: </label>
            <input type="text" v-model="user.username"><br>
            <label>Firstname: </label><input type="text" v-model="user.firstname"><br>
            <label>Lastname: </label><input type="text" v-model="user.lastname"><br>
            <label>Email: </label><input type="text" v-model="user.email"><br>
            <label>Avatar: </label><input type="text" v-model="user.avatar"><br>
            <button v-if="!isEdit" @click="addUser">Add User</button>
            <button v-if="isEdit" @click="updateUser">Update User</button>
        </form>
    </div>
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    users: [],
                    user: {
                        username: '',
                        firstname: '',
                        lastname: '',
                        email: '',
                        avatar: ''
                    }, 
                    isEdit: false, 
                    userIdSelected: null
                }
            }, 
            methods: {
                getUsers() {
                    axios
                        .get('https://65ddea6ddccfcd562f55d239.mockapi.io/users')
                        .then((response) => {
                            this.users = response.data
                        })
                }, 
                addUser() {
                    axios
                        .post("https://65ddea6ddccfcd562f55d239.mockapi.io/users", {
                            username: this.user.username,
                            firstname: this.user.firstname,
                            lastname: this.user.lastname,
                            email: this.user.email,
                            avatar: this.user.avatar,
                        })
                        .then((response) => {
                            this.getUsers();
                            alert("New user has been saved");
                            console.log(response);
                            this.resetForm();
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },
                getEditUser(user) {
                    this.isEdit = true
                    this.userIdSelected = user.id
                    this.user.username = user.username
                    this.user.firstname = user.firstname
                    this.user.lastname = user.lastname
                    this.user.email = user.email
                    this.user.avatar = user.avatar
                }, 
                updateUser() {
                    axios
                    .put(
                        `https://65ddea6ddccfcd562f55d239.mockapi.io/users/${this.userIdSelected}`,
                        {
                        username: this.user.username,
                        firstname: this.user.firstname,
                        lastname: this.user.lastname,
                        email: this.user.email,
                        avatar: this.user.avatar,
                        }
                    )
                    .then((response) => {
                        this.getUsers();
                        alert("User has been updated");
                        console.log(response);
                        this.isEdit = false;
                        this.resetForm();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                },
                deleteUser(user) {
                    if (confirm("Are you user want to delete this user?")) {
                    axios
                        .delete(
                        `https://65ddea6ddccfcd562f55d239.mockapi.io/users/${user.id}`
                        )
                        .then((res) => {
                        // handle success
                        alert("User has been deleted");
                        this.getUsers();
                        this.resetForm();
                        })
                        .catch((err) => {
                        // handle error
                        console.log(err);
                        });
                    }
                },
                resetForm() {
                    this.user.username = ''
                    this.user.firstname = ''
                    this.user.lastname = ''
                    this.user.email = ''
                    this.user.avatar = ''
                }
            }
        }).mount('#app')
    </script>
</body>
</html>