<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
        .yellow {
            color: yellow;
        }
        .green {
            color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        {{ message }} from {{ name }} 
        <br>
        My id is {{ id }}, my age is {{ age }}, my gender is {{ gender }}
        <br>
        My hobbies are: {{ hobbies }}
        <br>
        My address is {{ address }}
        
        Message: <input type="text" v-model="message"> <br>
        Name: <input type="text" v-model="name">
    
        <h1 v-if="on">Displayed if property on is true</h1>
        <h1 v-else>Displayed if property on is false</h1>

        <br>
        <hr>
        Age: <input type="text" v-model="age">
        <h3 v-if="age <= 17">You're still young</h3>
        <h3 v-else>You're old</h3>

        <br>
        <img v-bind:src="image" alt="UNAI Chapel">

        <h2 v-bind:class="textColor">This is a title</h2> <br>
        Text color: <input type="text" v-model="textColor">
        <br>
        <br>
        <li v-for="item in items">
            {{ item.message }}
        </li>

        <br>
        Hobbies: <li v-for="hobby in hobbies">
            {{ hobby }}
        </li>

        Address street: {{ address.street }}, {{ address.province }}
        <br><br>
        <button v-on:click="count++">Add 1</button>
        <p>Count is: {{ count }}</p>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    count: 0,
                    items: [{ message: 'A'}, {message: 'B'}],
                    textColor: 'red',
                    image: 'tugu_unai.jpeg',
                    on: false,
                    message: 'Hello Vue!', 
                    name: 'Andrew',
                    //Create 3 other properties and display them
                    id: 123, 
                    age: 17,
                    gender: 'Male',
                    //Create a property using array data type
                    //the array should consist of at least 3 items
                    hobbies: ['Badminton', 'Basketball', 'Traveling'],
                    //Create a property using object data type
                    // the object should have at least 3 properties
                    address: {
                        street: 'Jl. Kolonel Masturi No. 288',
                        district: 'Parongpong',
                        regency: 'Bandung Barat',
                        province: 'West Java'
                    }

                }
            }
        }).mount('#app');
        
    </script>

</body>
</html>